/*estilos de todas las vistas*/
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif, Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 60px 1fr 100px;
    gap: 1rem;
    margin : 20px auto;
    max-width: 900px;
    grid-template-areas: "my-header"
                        "my-menuprincipal"
                        "my-section"
                        "my-footer";
}
header, footer {
    background-color: #007BFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
header {
    grid-area: my-header;
}
footer {
    grid-area: my-footer;
}
.menuprincipal {
    grid-area: my-menuprincipal;
    display: flex;
    background-color: #0c4ed0;
    border-radius: 5px;
    align-items: center;
    justify-content: end;
}
.botonmini {
    margin: 0px 1rem;
    height: 30px;
}
.botonm {
    margin: 0px 1rem;
    height: 30px;
}
.botonmini > a, .botonm > a {
    text-decoration: none;
    font-weight: bold;
}
.botonmini > a {
    color: #ffc107;
}
.botonm > a {
    color: white;
}
.botonmini > a:hover, .botonm > a:hover {
    color: #3fc011;
}
.sectionprincipal {
    border: 1px solid black;
    border-radius: 5px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*Estilos vista principal*/
.articleprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
}
.contenidoarti {
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.contenidoarti > p {
    text-align: justify;
    line-height: 1.5;
    text-indent: 1rem;
}
.contenidoarti > ul > li > span {
    text-align: justify;
    line-height: 1.5;
}
/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*Estilos vista pagina web hosting*/
.sectionhosting {
    display: grid;
    grid-template-columns: 127px 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-template-areas: "my-navmenu my-article";
}
.navmenu {
    grid-area: my-navmenu;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 , 60px);
    background-color: #0c4ed0;
    padding-top: 2rem;
}
.boton {
    margin: 0px 1rem;
    height: 30px;
}
.boton > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.boton > a:hover {
    color: #3fc011;
}
/*estilos de los articulos de la vista de web hosting*/
.articlecontent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    max-width: 90%;
    margin: 10px auto;
}
.articulos {
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.articulos > p {
    text-align: justify;
    line-height: 1.5;
    text-indent: 1rem;
}